# 16- splited a string into multiple columns

In [2]:
#import libraries
import pandas as pd
import numpy as np
import seaborn as sns

In [6]:
df = pd.DataFrame({"name": ['ahmed', 'saqib', 'walid','anas','waleed'],
'location':['LA, USA', 'Karachi, Pakistan', 'washanton,USA','lahore,USA', 'paris,London']})
df

     name           location
0   ahmed            LA, USA
1   saqib  Karachi, Pakistan
2   walid      washanton,USA
3    anas         lahore,USA
4  waleed       paris,London

In [9]:
df.location.str.split(",").head()

0              [LA,  USA]
1    [Karachi,  Pakistan]
2        [washanton, USA]
3           [lahore, USA]
4         [paris, London]
Name: location, dtype: object

In [10]:
df.location.str.split(",", expand=True)

TypeError: StringMethods.split() got an unexpected keyword argument 'expect'