# Goodle paly store EDA

In [5]:
#import libraries

import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

In [2]:
# data import   
df = pd.read_csv('./data/googleplaystore.csv')

In [3]:
df.head()
df.columns

Index(['App', 'Category', 'Rating', 'Reviews', 'Size', 'Installs', 'Type',
       'Price', 'Content Rating', 'Genres', 'Last Updated', 'Current Ver',
       'Android Ver'],
      dtype='object')

In [4]:
# profile = yd.ProfileReport(df)

# profile.to_file(output_file="./output/google.html")

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10841 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10841 non-null  object
 1   Category        10840 non-null  object
 2   Rating          9367 non-null   float64
 3   Reviews         10841 non-null  int64
 4   Size            10841 non-null  object
 5   Installs        10841 non-null  object
 6   Type            10840 non-null  object
 7   Price           10841 non-null  object
 8   Content Rating  10841 non-null  object
 9   Genres          10840 non-null  object
 10  Last Updated    10841 non-null  object
 11  Current Ver     10833 non-null  object
 12  Android Ver     10839 non-null  object
dtypes: float64(1), int64(1), object(11)
memory usage: 1.1+ MB

In [7]:
df.sample(10)

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
6233,BH Mission Playbook,TRAVEL_AND_LOCAL,NaN,0,22M,100+,Free,0,Everyone,Travel & Local,2-Apr-18,1.5.4,4.4 and up
8339,DF Wall Plus – Droid Firewall,TOOLS,NaN,9,6.3M,500+,Free,0,Everyone,Tools,20-Aug-17,1,4.0.3 and up
9877,EU FTL Calculator,BUSINESS,3.6,60,1.8M,"10,000+",Free,0,Everyone,Business,1-Jun-18,1.5.1,4.1 and up
2088,ROBLOX,FAMILY,4.5,4450855,67M,"100,000,000+",Free,0,Everyone 10+,Adventure;Action & Adventure,31-Jul-18,2.347.225742,4.1 and up
6775,BT One Phone Mobile App,COMMUNICATION,3.5,33,2.7M,"10,000+",Free,0,Everyone,Communication,18-Sep-17,2.2.6,4.1 and up
7065,City Driving Jeep Mania: Parking Passion 2018,FAMILY,4.4,36,24M,"10,000+",Free,0,Everyone,Simulation,14-Jun-18,1,4.0 and up
7994,All Star Of CW,FAMILY,NaN,0,2.4M,10+,Free,0,Everyone,Role Playing,6-Feb-18,2.03,4.0.3 and up
9234,ec-Work,PRODUCTIVITY,NaN,3,26M,100+,Free,0,Everyone,Productivity,9-Jul-18,1.12,5.0 and up
3667,Video Downloader,VIDEO_PLAYERS,4.2,59089,5.4M,"10,000,000+",Free,0,Everyone,Video Players & Editors,3-Aug-18,1.0.8,4.4 and up
7891,CT Pulmonary Angiography,MEDICAL,NaN,0,4.9M,100+,Free,0,Everyone,Medical,24-Mar-18,1,4.0 and up

In [8]:
df.describe()

            Rating       Reviews
count  9367.000000  1.084100e+04
mean      4.191513  4.441119e+05
std       0.515735  2.927629e+06
min       1.000000  0.000000e+00
25%       4.000000  3.800000e+01
50%       4.300000  2.094000e+03
75%       4.500000  5.476800e+04
max       5.000000  7.815831e+07

# write the all the numeric columns and make them numerics


1. size
2. install 
3. price

In [12]:
df.nunique().sum()
df['Size'].value_counts()

Size
Varies with device    1695
11M                    198
12M                    196
14M                    194
13M                    191
                      ...
430k                     1
429k                     1
200k                     1
460k                     1
619k                     1
Name: count, Length: 461, dtype: int64

# check how many mbs in kb  are there ? how to calculate

1. convert MB to KB
2. Then Remove M from all number
3. Handle `varies with device`