# Goodle paly store EDA

In [17]:
#import libraries

import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

In [18]:
# data import   
df = pd.read_csv('./data/googleplaystore.csv')

In [19]:
df.head()
df.columns

Index(['App', 'Category', 'Rating', 'Reviews', 'Size', 'Installs', 'Type',
       'Price', 'Content Rating', 'Genres', 'Last Updated', 'Current Ver',
       'Android Ver'],
      dtype='object')

In [20]:
# profile = yd.ProfileReport(df)

# profile.to_file(output_file="./output/google.html")

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10841 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10841 non-null  object
 1   Category        10840 non-null  object
 2   Rating          9367 non-null   float64
 3   Reviews         10841 non-null  int64
 4   Size            10841 non-null  object
 5   Installs        10841 non-null  object
 6   Type            10840 non-null  object
 7   Price           10841 non-null  object
 8   Content Rating  10841 non-null  object
 9   Genres          10840 non-null  object
 10  Last Updated    10841 non-null  object
 11  Current Ver     10833 non-null  object
 12  Android Ver     10839 non-null  object
dtypes: float64(1), int64(1), object(11)
memory usage: 1.1+ MB

In [22]:
df.sample(10)

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
7829,Mobile CS:GO,GAME,3.1,1015,643k,"100,000+",Free,0,Everyone,Action,11-Nov-15,1.3,2.3.3 and up
7991,The CW TN app 2018,FAMILY,2.2,54,4.3M,"10,000+",Free,0,Everyone,Entertainment,30-Apr-18,1,3.2 and up
1908,My Talking Tom,GAME,4.5,14892469,Varies with device,"500,000,000+",Free,0,Everyone,Casual,19-Jul-18,4.8.0.132,4.1 and up
386,Hangouts,COMMUNICATION,4.0,3419433,Varies with device,"1,000,000,000+",Free,0,Everyone,Communication,21-Jul-18,Varies with device,Varies with device
6580,Go-Go-Goat! Free Game,FAMILY,4.5,66740,23M,"1,000,000+",Free,0,Everyone,Arcade;Action & Adventure,8-Jul-16,2.4.4,2.3 and up
4070,Chuck E.'s Skate Universe,FAMILY,3.9,94910,44M,"10,000,000+",Free,0,Everyone,Action;Action & Adventure,10-Jan-17,1.12,4.3 and up
7665,"Chinese Chess 3D Online (Xiangqi, 象棋, co tuong)",GAME,3.5,23,37M,"1,000+",Paid,$0.99,Everyone,Board,27-Dec-17,2.2.1,4.1 and up
5917,Ra Ga Ba,GAME,5.0,2,20M,1+,Paid,$1.49,Everyone,Arcade,8-Feb-17,1.0.4,2.3 and up
8300,Offroad Police Car DE,FAMILY,4.3,9149,80M,"1,000,000+",Free,0,Everyone,Simulation,15-Mar-17,1.3,2.3.3 and up
3375,ZenUI Themes – Stylish Themes,PERSONALIZATION,4.4,47393,7.2M,"10,000,000+",Free,0,Everyone,Personalization,24-May-18,1.8.0.24_180511,5.0 and up

In [23]:
df.describe()

            Rating       Reviews
count  9367.000000  1.084100e+04
mean      4.191513  4.441119e+05
std       0.515735  2.927629e+06
min       1.000000  0.000000e+00
25%       4.000000  3.800000e+01
50%       4.300000  2.094000e+03
75%       4.500000  5.476800e+04
max       5.000000  7.815831e+07

# write the all the numeric columns and make them numerics


1. size
2. install 
3. price

In [24]:
#write the all the numeric columns and make them numerics

In [25]:
df.nunique().sum()
df['Size'].value_counts()

Size
Varies with device    1695
11M                    198
12M                    196
14M                    194
13M                    191
                      ...
430k                     1
429k                     1
200k                     1
460k                     1
619k                     1
Name: count, Length: 461, dtype: int64

# check how many mbs in kb  are there ? how to calculate

1. convert MB to KB
2. Then Remove M from all number
3. Handle `varies with device`

In [26]:
df['Size'].value_counts
# df.head()

<bound method IndexOpsMixin.value_counts of 0                       19M
1                       14M
2                      8.7M
3                       25M
4                      2.8M
                ...
10836                   53M
10837                  3.6M
10838                  9.5M
10839    Varies with device
10840                   19M
Name: Size, Length: 10841, dtype: object>

In [39]:
#Remove + From Installs columns
df['Installs'] = df['Installs'].apply(lambda x: str(x).replace('+','') if '+' in str(x) else str(x))
df['Installs'] = df.astype({'Installs':'int64'}).dtypes

df

ValueError: invalid literal for int() with base 10: '10,000': Error while type casting for column 'Installs'

In [28]:
df.select_dtypes(include='number').head()

   Rating  Reviews
0     4.1      159
1     3.9      967
2     4.7    87510
3     4.5   215644
4     4.3      967