# Goodle paly store EDA
### Complete Expolratory Data Analysis

#### 1. Import libraries

In [72]:
#import libraries

import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline

Load datasets

In [3]:
# data import   
df = pd.read_csv('./data/googleplaystore.csv')

- Important Things to know

In [74]:
#set option to be maximum for rows and columns
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
# hide all warnings
import warnings
warnings.filterwarnings('ignore')

In [75]:
df.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver,Size_mb,popularity
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19.0,10000,Free,0.0,Everyone,Art & Design,7-Jan-18,1.0.0,4.0.3 and up,19M,Less Famous App
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14.0,500000,Free,0.0,Everyone,Art & Design;Pretend Play,15-Jan-18,2.0.0,4.0.3 and up,14M,Most Famous App
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7,5000000,Free,0.0,Everyone,Art & Design,1-Aug-18,1.2.4,4.0.3 and up,8.7M,Most Famous App
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25.0,50000000,Free,0.0,Teen,Art & Design,8-Jun-18,Varies with device,4.2 and up,25M,Most Famous App
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8,100000,Free,0.0,Everyone,Art & Design;Creativity,20-Jun-18,1.1,4.4 and up,2.8M,Famous App

In [77]:
df.columns

Index(['App', 'Category', 'Rating', 'Reviews', 'Size', 'Installs', 'Type',
       'Price', 'Content Rating', 'Genres', 'Last Updated', 'Current Ver',
       'Android Ver', 'Size_mb', 'popularity'],
      dtype='object')

In [81]:
print(f"The numbers of columns are follows: {df.columns}")

The numbers of columns are follows: Index(['App', 'Category', 'Rating', 'Reviews', 'Size', 'Installs', 'Type',
       'Price', 'Content Rating', 'Genres', 'Last Updated', 'Current Ver',
       'Android Ver', 'Size_mb', 'popularity'],
      dtype='object')

In [79]:
df.shape

(10841, 15)

In [80]:
print(f'The number of Rows are {df.shape[0]} and columns are {df.shape[1]}')

The number of Rows are 10841 and columns are 15

In [5]:
# profile = yd.ProfileReport(df)

# profile.to_file(output_file="./output/google.html")

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10841 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10841 non-null  object
 1   Category        10840 non-null  object
 2   Rating          9367 non-null   float64
 3   Reviews         10841 non-null  int64
 4   Size            10841 non-null  object
 5   Installs        10841 non-null  object
 6   Type            10840 non-null  object
 7   Price           10841 non-null  object
 8   Content Rating  10841 non-null  object
 9   Genres          10840 non-null  object
 10  Last Updated    10841 non-null  object
 11  Current Ver     10833 non-null  object
 12  Android Ver     10839 non-null  object
dtypes: float64(1), int64(1), object(11)
memory usage: 1.1+ MB

In [7]:
df.sample(10)

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
10558,Austria Wien FK - Fussball - Inoffizielle App,SPORTS,NaN,2,12M,100+,Free,0,Everyone,Sports,27-Jul-18,1.0.4,4.1 and up
4507,Q downloader : download your social media videos,FAMILY,4.1,41,4.5M,"1,000+",Free,0,Everyone,Entertainment,21-Jun-18,1.1.2.1,4.0.3 and up
3293,"CM Flashlight (Compass, SOS)",TOOLS,4.4,166367,1.8M,"5,000,000+",Free,0,Everyone,Tools,25-May-18,1.4.0,2.3 and up
1663,Helix Jump,GAME,4.2,1497361,33M,"100,000,000+",Free,0,Everyone,Action,9-Apr-18,1.0.6,4.1 and up
310,Comic Es - Shojo manga / love comics free of c...,COMICS,3.9,2181,10M,"100,000+",Free,0,Teen,Comics,5-Mar-18,1.2.12,4.0.3 and up
8006,Morse Trainer for Ham Radio,COMMUNICATION,4.6,265,2.6M,"10,000+",Paid,$2.99,Everyone,Communication,6-Jan-18,2.28,2.3 and up
1596,PASS by KT (formerly KT certified),LIFESTYLE,3.5,7869,21M,"1,000,000+",Free,0,Everyone,Lifestyle,1-Aug-18,02.00.06,4.4 and up
8966,DV Youth,LIFESTYLE,5.0,5,15M,100+,Free,0,Everyone,Lifestyle,25-Apr-16,1.2,4.0.3 and up
3831,Air Traffic,MAPS_AND_NAVIGATION,4.3,14110,6.8M,"1,000,000+",Free,0,Everyone,Maps & Navigation,24-Jul-18,4.3,5.0 and up
3671,Video Player All Format,VIDEO_PLAYERS,4.8,259003,Varies with device,"10,000,000+",Free,0,Everyone,Video Players & Editors,3-Aug-18,Varies with device,4.3 and up

In [8]:
df.describe()

            Rating       Reviews
count  9367.000000  1.084100e+04
mean      4.191513  4.441119e+05
std       0.515735  2.927629e+06
min       1.000000  0.000000e+00
25%       4.000000  3.800000e+01
50%       4.300000  2.094000e+03
75%       4.500000  5.476800e+04
max       5.000000  7.815831e+07

# write the all the numeric columns and make them numerics


1. size
2. install 
3. price

In [9]:
#write the all the numeric columns and make them numerics

In [30]:
df.nunique().sum()
df['Size'].value_counts

<bound method IndexOpsMixin.value_counts of 0         19M
1         14M
2        8.7M
3         25M
4        2.8M
         ...
10836     53M
10837    3.6M
10838    9.5M
10839    2.2M
10840     19M
Name: Size, Length: 10841, dtype: object>

# check how many mbs in kb  are there ? how to calculate

1. convert MB to KB
2. Then Remove M from all number
3. Handle `varies with device`

In [11]:
df['Size'].value_counts
# df.head()

<bound method IndexOpsMixin.value_counts of 0         19M
1         14M
2        8.7M
3         25M
4        2.8M
         ...
10836     53M
10837    3.6M
10838    9.5M
10839    2.2M
10840     19M
Name: Size, Length: 10841, dtype: object>

In [20]:
#Remove + From Installs columns
df['Installs'] = df['Installs'].apply(lambda x: str(x).replace('+','') if '+' in str(x) else str(x))
#Remove , From Installs columns
df['Installs'] = df['Installs'].apply(lambda x: str(x).replace(',','') if ',' in str(x) else str(x))
# convert installs to int data type
df['Installs'] = df['Installs'].apply(lambda x: int(x))

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,10000,Free,0,Everyone,Art & Design,7-Jan-18,1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,500000,Free,0,Everyone,Art & Design;Pretend Play,15-Jan-18,2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,5000000,Free,0,Everyone,Art & Design,1-Aug-18,1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,50000000,Free,0,Teen,Art & Design,8-Jun-18,Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,100000,Free,0,Everyone,Art & Design;Creativity,20-Jun-18,1.1,4.4 and up

In [66]:
df['Size'].value_counts()

Size
11.000000    198
12.000000    196
14.000000    194
13.000000    191
15.000000    184
            ...
0.419922       1
0.418945       1
0.195312       1
0.449219       1
0.604492       1
Name: count, Length: 459, dtype: int64

In [64]:

def convert_size(size):
    if 'm' in size:
        return float(size[:-1])  # Remove 'm' and convert to float
    elif 'k' in size:
        return float(size[:-1]) / 1024  # Remove 'k', convert to float, and divide by 1024
    elif size == 'Varies with device':
        return np.nan
    else:
        return float(size)  # No conversion needed

In [65]:
# create a new columns by size_mb and apply convert_size function to it

df['Size_mb'] = df['Size'].apply(convert_size)

TypeError: argument of type 'float' is not iterable

In [60]:
df['Size'].value_counts()

Size
11.000000    198
12.000000    196
14.000000    194
13.000000    191
15.000000    184
            ...
0.419922       1
0.418945       1
0.195312       1
0.449219       1
0.604492       1
Name: count, Length: 459, dtype: int64

In [53]:
# remove $ sign from price and convert into Float
df['Price'] = df['Price'].apply(lambda x: str(x).replace('$','') if '$' in str(x) else str(x))
#convert df['Price'] into float data type
df['Price'] = df['Price'].apply(lambda x: float(x))
# df['Price'].value_counts()

Price
0.00     10041
0.99       148
2.99       129
1.99        73
4.99        72
         ...
19.90        1
1.75         1
14.00        1
4.85         1
1.04         1
Name: count, Length: 92, dtype: int64

In [67]:
df.select_dtypes(include='number').head()

   Rating  Reviews  Size  Installs  Price
0     4.1      159  19.0     10000    0.0
1     3.9      967  14.0    500000    0.0
2     4.7    87510   8.7   5000000    0.0
3     4.5   215644  25.0  50000000    0.0
4     4.3      967   2.8    100000    0.0

In [70]:
# Assuming df is your DataFrame and 'installs' is your column of interest
bins = [0, 50000, 100000, float('inf')]  # Define your bins
labels = ['Less Famous App', 'Famous App', 'Most Famous App']  # Define your labels

df['popularity'] = pd.cut(df['Installs'], bins=bins, labels=labels)

In [71]:
df.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver,Size_mb,popularity
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19.0,10000,Free,0.0,Everyone,Art & Design,7-Jan-18,1.0.0,4.0.3 and up,19M,Less Famous App
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14.0,500000,Free,0.0,Everyone,Art & Design;Pretend Play,15-Jan-18,2.0.0,4.0.3 and up,14M,Most Famous App
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7,5000000,Free,0.0,Everyone,Art & Design,1-Aug-18,1.2.4,4.0.3 and up,8.7M,Most Famous App
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25.0,50000000,Free,0.0,Teen,Art & Design,8-Jun-18,Varies with device,4.2 and up,25M,Most Famous App
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8,100000,Free,0.0,Everyone,Art & Design;Creativity,20-Jun-18,1.1,4.4 and up,2.8M,Famous App