# 01- How to see python version

In [6]:
import pandas as pd
pd.__version__
pd.show_versions()

c:\Program Files\Python311\Lib\site-packages\_distutils_hack\__init__.py:33: UserWarning: Setuptools is replacing distutils.
  warnings.warn("Setuptools is replacing distutils.")

INSTALLED VERSIONS
------------------
commit              : e86ed377639948c64c429059127bcf5b359ab6be
python              : 3.11.5.final.0
python-bits         : 64
OS                  : Windows
OS-release          : 10
Version             : 10.0.19045
machine             : AMD64
processor           : Intel64 Family 6 Model 69 Stepping 1, GenuineIntel
byteorder           : little
LC_ALL              : None
LANG                : None
LOCALE              : English_United States.1252

pandas              : 2.1.1
numpy               : 1.26.0
pytz                : 2023.3.post1
dateutil            : 2.8.2
setuptools          : 65.5.0
pip                 : 23.2.1
Cython              : None
pytest              : None
hypothesis          : None
sphinx              : None
blosc               : None
feather             : None
xlsxwriter          : None
lxml.etree          : None
html5lib            : None
pymysql             : None
psycopg2            : None
jinja2              : 3.1.2
IPython             : 8.15.0
pandas_datareader   : None
bs4                 : None
bottleneck          : None
dataframe-api-compat: None
fastparquet         : None
fsspec              : None
gcsfs               : None
matplotlib          : 3.8.0
numba               : None
numexpr             : None
odfpy               : None
openpyxl            : 3.1.2
pandas_gbq          : None
pyarrow             : 13.0.0
pyreadstat          : None
pyxlsb              : None
s3fs                : None
scipy               : 1.11.3
sqlalchemy          : None
tables              : None
tabulate            : None
xarray              : None
xlrd                : None
zstandard           : None
tzdata              : 2023.3
qtpy                : None
pyqt5               : None

# 02- make a DataFrame

In [7]:
df = pd.DataFrame({'a': [1,3,5,7], 'b':[2,4,6,8]})
df

   a  b
0  1  2
1  3  4
2  5  6
3  7  8

# 03- Make a DataFrame with numpy

In [8]:
import numpy as np
arr = np.array([[1,2,3], [4,5,6],[7,8,9]])
df = pd.DataFrame(arr)
df

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [9]:
pd.DataFrame(np.random.rand(4,8),columns=list("ABCDEFGH"))

,A,B,C,D,E,F,G,H
0,0.103178,0.250498,0.902520,0.799207,0.947766,0.220246,0.753382,0.860236
1,0.853095,0.294021,0.500318,0.248410,0.048220,0.059402,0.351799,0.136841
2,0.565875,0.059584,0.920052,0.412430,0.689020,0.803686,0.091592,0.518079
3,0.752365,0.217619,0.731903,0.419043,0.634885,0.594925,0.805477,0.686355

In [10]:
pd.DataFrame(np.random.rand(4,15))

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,0.449562,0.491096,0.379234,0.337307,0.198790,0.168563,0.678522,0.303455,0.469351,0.175397,0.033230,0.127751,0.603729,0.931189,0.685503
1,0.593705,0.262627,0.873510,0.809125,0.243154,0.322807,0.776460,0.891655,0.039809,0.017134,0.551934,0.120026,0.099253,0.538332,0.757990
2,0.540737,0.827043,0.206636,0.155714,0.678026,0.830733,0.059666,0.159427,0.480067,0.709848,0.142562,0.581925,0.328759,0.961910,0.427357
3,0.205783,0.358578,0.989668,0.420044,0.374757,0.682249,0.893425,0.546169,0.170301,0.959968,0.712807,0.388094,0.107907,0.537668,0.005434

# 4- How to rename column

In [18]:
df = pd.DataFrame({'A col': [1,3,5,7,9,11,13,15], 'B Col':[2,4,6,8,10,12,14,16]})
# df

   col a  col b
0      1      2
1      3      4
2      5      6
3      7      8
4      9     10
5     11     12
6     13     14
7     15     16

In [22]:
# Rename column
# df.rename(columns={"A col": "col_a", "B Col":"col_b"})
df.columns=["col_aa", "col_ba"]
df

   col_aa  col_ba
0       1       2
1       3       4
2       5       6
3       7       8
4       9      10
5      11      12
6      13      14
7      15      16