# how to import dataset in python using pandas library
Written by by : Saqib Shah\
Date: 01-10-2023\
Email: saqibshah@live.com

In [1]:
#step -1
#import the library 
import pandas as pd

In [6]:
#step 2
#read the data or Importing Dataset

df = pd.read_excel("pandas_01_day6.xlsx") #write the path if you want to load data from data

In [7]:
df

   height  weight favourite_dish
0     5.8     101  Chicken Pulao
1     6.2      92        Biryani
2     5.9      62  Karahi Ghosht
3     5.9      95  Chicken Pulao
4     5.9      55  Chicken Pulao
..    ...     ...            ...
82    5.4      55          Pasta
83    5.9      75  Karahi Ghosht
84    5.4      61        Biryani
85    6.2      68  Chicken Pulao
86    5.1      96        Biryani

[87 rows x 3 columns]