# 01- How to see python version

In [2]:
import pandas as pd
pd.__version__
pd.show_versions()

INSTALLED VERSIONS
------------------
commit              : e86ed377639948c64c429059127bcf5b359ab6be
python              : 3.12.0.final.0
python-bits         : 64
OS                  : Windows
OS-release          : 10
Version             : 10.0.19045
machine             : AMD64
processor           : Intel64 Family 6 Model 69 Stepping 1, GenuineIntel
byteorder           : little
LC_ALL              : None
LANG                : None
LOCALE              : English_United States.1252

pandas              : 2.1.1
numpy               : 1.26.0
pytz                : 2023.3.post1
dateutil            : 2.8.2
setuptools          : 68.0.0
pip                 : 23.2.1
Cython              : None
pytest              : None
hypothesis          : None
sphinx              : None
blosc               : None
feather             : None
xlsxwriter          : None
lxml.etree          : None
html5lib            : None
pymysql             : None
psycopg2            : None
jinja2              : None
IPython             : 8.16.1
pandas_datareader   : None
bs4                 : None
bottleneck          : None
dataframe-api-compat: None
fastparquet         : None
fsspec              : None
gcsfs               : None
matplotlib          : 3.8.0
numba               : None
numexpr             : None
odfpy               : None
openpyxl            : 3.1.2
pandas_gbq          : None
pyarrow             : None
pyreadstat          : None
pyxlsb              : None
s3fs                : None
scipy               : 1.11.3
sqlalchemy          : None
tables              : None
tabulate            : None
xarray              : None
xlrd                : None
zstandard           : None
tzdata              : 2023.3
qtpy                : None
pyqt5               : None

# 02- make a DataFrame

In [3]:
df = pd.DataFrame({'a': [1,3,5,7], 'b':[2,4,6,8]})
df

   a  b
0  1  2
1  3  4
2  5  6
3  7  8

# 03- Make a DataFrame with numpy

In [4]:
import numpy as np
arr = np.array([[1,2,3], [4,5,6],[7,8,9]])
df = pd.DataFrame(arr)
df

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [5]:
pd.DataFrame(np.random.rand(4,8),columns=list("ABCDEFGH"))

,A,B,C,D,E,F,G,H
0,0.417039,0.095662,0.279149,0.679046,0.345057,0.009608,0.452426,0.757208
1,0.323864,0.477782,0.476367,0.119525,0.080360,0.425998,0.202730,0.429748
2,0.160709,0.403969,0.287414,0.498124,0.501699,0.975852,0.471556,0.096715
3,0.351708,0.050021,0.313675,0.773520,0.860998,0.097648,0.161425,0.685326

In [6]:
pd.DataFrame(np.random.rand(4,15))

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,0.739567,0.862301,0.997280,0.367872,0.008971,0.811978,0.343289,0.977954,0.088086,0.949719,0.550124,0.649473,0.478496,0.509625,0.471390
1,0.960199,0.701455,0.742541,0.094556,0.118200,0.603727,0.937467,0.119473,0.109081,0.333930,0.200126,0.070345,0.871383,0.839569,0.915174
2,0.530006,0.953314,0.929154,0.415213,0.394577,0.574045,0.747833,0.117597,0.802833,0.784698,0.460038,0.104648,0.688887,0.575322,0.974178
3,0.550755,0.222683,0.321876,0.288323,0.766543,0.243862,0.330374,0.089713,0.214512,0.012384,0.424444,0.293733,0.958968,0.485098,0.702300

# 4- How to rename column

In [7]:
df = pd.DataFrame({'A col': [1,3,5,7,9,11,13,15], 'B Col':[2,4,6,8,10,12,14,16]})
# df

In [8]:
# Rename column
# df.rename(columns={"A col": "col_a", "B Col":"col_b"})
df.columns=["col_aa", "col_ba"]
df

   col_aa  col_ba
0       1       2
1       3       4
2       5       6
3       7       8
4       9      10
5      11      12
6      13      14
7      15      16

In [14]:
#to replace any character, string
df.columns = df.columns.str.replace('a', 'n')
df

   bnbn_bnbncolnnn  bnbn_bnbncolnbn
0                1                2
1                3                4
2                5                6
3                7                8
4                9               10
5               11               12
6               13               14
7               15               16

In [15]:
# adding prefex and sufex

df = df.add_prefix('baba_')
df
df = df.add_suffix('dada')
df

   baba_bnbn_bnbncolnnndada  baba_bnbn_bnbncolnbndada
0                         1                         2
1                         3                         4
2                         5                         6
3                         7                         8
4                         9                        10
5                        11                        12
6                        13                        14
7                        15                        16

In [16]:
df.columns=['col_a', 'col_b']
df

   col_a  col_b
0      1      2
1      3      4
2      5      6
3      7      8
4      9     10
5     11     12
6     13     14
7     15     16

# 04-  Using template data

In [25]:
import pandas as pd
import numpy as np
import seaborn as snsn

df = snsn.load_dataset('iris')

# df.info()

# summary
# df.describe()

#columns name
df.columns

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species'],
      dtype='object')