# how to import dataset in python using pandas library
Written by by : Saqib Shah\
Date: 01-10-2023\
Email: saqibshah@live.com

In [1]:
#step -1
#import the library 
import pandas as pd

In [6]:
#step 2
#read the data or Importing Dataset

df = pd.read_excel("pandas_01_day6.xlsx") #write the path if you want to load data from data

In [13]:
# df.head()
# df.all
# df.tail()
df.shape

(87, 3)

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87 entries, 0 to 86
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   height          87 non-null     object
 1   weight          87 non-null     int64
 2   favourite_dish  87 non-null     object
dtypes: int64(1), object(2)
memory usage: 2.2+ KB

In [16]:
# df.head(20)
# df.tail(15)

   height  weight favourite_dish
72    5.8      73        Biryani
73   5.11      78        Biryani
74    5.6      62  Karahi Ghosht
75    6'0     125    Chapel Kaba
76    5.7       5        Biryani
77    5.5      85        Biryani
78   5.11      72  Karahi Ghosht
79    5.3      62        Biryani
80    5.4      55          Pasta
81    5.5      52  Karahi Ghosht
82    5.4      55          Pasta
83    5.9      75  Karahi Ghosht
84    5.4      61        Biryani
85    6.2      68  Chicken Pulao
86    5.1      96        Biryani