# Working with pandas library
Writter: Saqib Shah\
Date: 01-10-2023\
Email: saqibshah@live.com

In [3]:
#if pandas library not install then try :
#pip install pandas

import pandas as pd

In [35]:
#importing data using python from diffrent folder.

df = pd.read_excel("pandas_01_day6.xlsx")
# df

# view dataFrames in Python using Pandas

In [25]:
# df.head(8)
# df.tail(12)
# df.info()
# df.shape
# df.index
df.columns

df.describe()

# df_Height = df.columns
# print(type(df_Height))

# for i in df_Height:
#     print(i)
# df.Height = int(df.Height)
# print(type(df.Height))

        Height  Weight Favourite Dish
count     87.0      87             87
unique    35.0      47              5
top        5.9      55        Biryani
freq       9.0       6             40

In [40]:
# df.T
# df.sort_index(ascending=False)
# df.sort_values(by="favourite_dish")
heightValue = df['height']

# heightValue = int(heightValue)

TypeError: cannot convert the series to <class 'int'>